.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}


.wrapper {
  padding: 20px;
  text-align: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}